<html>

<head>
    <title> GA </title>
    
    <script src="static/node_modules/d3/build/d3.min.js"> </script>
    <script src="static/node_modules/jquery/dist/jquery.min.js"> </script>
    
    <!--<script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> -->
    <script src="static/drawing_primitives.js">

    </script>
    <script src="static/world_components.js">

    </script>

    <style>
        /*.scores {
            text-align: center;
        }*/
        
        table {
            float: left;
            margin: 2px;
            border: solid 2px black;
        }
        table td, 
        table th {
            border: solid 1px black;
            
        }
    </style>
</head>

<body>

    <svg>

    </svg>
    <div class="scores">
        <!--<table>
    <tbody>

    </tbody>
</table> -->
    </div>
    <script src="static/main.js">

    </script>
</body>

</html>